<div class="row card-panel">
	<div class="col s12">
    <%= link_to new_admin_tournament_path, :class => "right btn-add btn-floating btn-large waves-effect waves-light blue" do %>
			<i class="material-icons small">add</i>
		<% end %>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">ID</th>
					<th data-field="email">Lieux</th>
                    <th data-field="date">date</th>
                    <th data-field="admin" class="hide-on-med-and-down">Lien photo</th>
					<th  class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @tournaments.each do |tournament| %>
					<tr>
						<td><%= tournament.id %></td>
						<td><%= tournament.place %></td>
                        <td><%= tournament.date%></td>
						<td class="hide-on-med-and-down"><%= tournament.link_picture.slice!(0, 50) %></td>
						<td class="right">
							<a class="dropdown-button" href="#" data-activates="dropdown<%= tournament.id%>">
						<i class="material-icons">more_vert</i>
						</a>
							<!-- Dropdown Structure -->
							<ul id="dropdown<%= tournament.id%>" class="dropdown-content">
								<li><%= link_to edit_admin_tournament_path(id: tournament.id), :class => "drop_edit" do %>Editer<% end %></li>
								<li><%= link_to admin_tournament_path(tournament.id), :method => :delete, :class => "drop_remove", :data => {:confirm => 'Tu est sur ?' } do %>Supprimer<% end %></li>
							</ul>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="center-align">
        <%= will_paginate @tournaments %>
    </div>
	</div>
</div>
