<div class="row card-panel">
	<div class="col s12">
		<%= form_for(@feature, url: admin_feature_path(@feature.id), html: { method: :put }, id: 'edit_feature_{@feature.id}') do |f| %>

			<% @feature.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>

			<div class="field input-field col s12 m6">
				<%= f.label :title, "Titre" %>
				<%= f.text_field :title, class: 'form-control' , autofocus: true, :class => "validate" %>
			</div>

      <% if(@feature.state == "bug0" || @feature.state == "bug1")%>
        <div class="field input-field col s12 m6">
            <%= f.select :state, [['Bug en cour', 'bug0'], ['Bug résolu', 'bug1']] %>
        </div>
      <% else %>
        <div class="field input-field col s12 m6">
            <%= f.select :state, [['Demande en cour', 'feature0'], ['Demande en developpement', 'feature1'], ['Demande sur le serveur dev', 'feature2'], ['Demande en ligne', 'feature3']] %>
        </div>
      <% end %>

			<div class="field input-field col s12">
				<%= f.label :content, "Résumé" %>
				<%= f.text_area :content, :class => "materialize-textarea"%>
			</div>
      <div class="field input-field col s12">
				<%= f.label :dev_link, "Lien serveur de dev" %>
				<%= f.text_field :dev_link, class: 'form-control', :class => "validate" %>
			</div>


			<div class="actions btnlog col s12">
				<%= link_to 'Retour', admin_features_path, :class => "waves-effect waves-light btn red" %>
				<%= button_tag(type: 'submit', class: "right btn") do %>
					Valider <i class='material-icons right'>done</i>
				<% end %>
			</div>

		<% end %>

	</div>
</div>
