<div class="row">
	<div class="col s12">
    <div class="card-panel">
      <%= link_to new_admin_player_path, :class => "right btn-add btn-floating btn-large waves-effect waves-light blue" do %>
  			<i class="material-icons small">add</i>
  		<% end %>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="lastname">Nom</th>
          <th data-field="firstname">Prénom</th>
          <th data-field="number" class='hide-on-small-only'>Numéro</th>
          <th data-field="place" class='hide-on-small-only'>Rôle</th>
          <th data-field="place" class='hide-on-small-only'>Photo</th>
          <th data-field="adult" class='hide-on-small-only'>Adulte</th>
          <th data-field="staff" class='hide-on-small-only'>Bureau</th>

					<th  class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @players.each do |player| %>
					<tr>
            <td><%= player.lastname %></td>
            <td><%= player.firstname %></td>
            <td class='hide-on-small-only'>
              <% if player.number != ""%>
                  <span class="mybadge orange"><%= player.number%></span>
              <% end %>
            </td>
            <td class='hide-on-small-only'><%= player.place %></td>
						<% if(player.picture)%>
							<td class='hide-on-small-only'><span class="mybadge green">Oui</span></td>
						<% else %>
							<td class='hide-on-small-only'><span class="mybadge blue">Non</span></td>
						<% end %>
            <% if(player.adult)%>
              <td class='hide-on-small-only'><span class="mybadge green">Oui</span></td>
            <% else %>
              <td class='hide-on-small-only'><span class="mybadge blue">Non</span></td>
            <% end %>
            <td class='hide-on-small-only'><%= player.staff %></td>

						<td class="right">
							<a class="dropdown-button" href="#" data-activates="dropdown<%= player.id%>">
						<i class="material-icons">more_vert</i>
						</a>

							<!-- Dropdown Structure -->
							<ul id="dropdown<%= player.id%>" class="dropdown-content">
								<li><%= link_to edit_admin_player_path(id: player.id), :class => "drop_edit" do %>Editer<% end %></li>
								<li><%= link_to admin_player_path(player.id), :method => :delete, :class => "drop_remove", :data => {:confirm => 'Tu est sur ?' } do %>Supprimer<% end %></li>
							</ul>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="center-align">
        <%= will_paginate @players %>
    </div>
	</div>
	</div>
</div>
