<div class="row card-panel">
	<div class="col s12">
      <%= link_to new_admin_event_path, class: "right btn-add btn-floating btn-large waves-effect waves-light blue", id: 'create-event' do %>
  			<i class="material-icons">add</i>
  		<% end %>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="name">Nom de l'événement</th>
					<th data-field="name">Date</th>
					<th class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
					<tr>
						<td><%= event.event %></td>
						<td><%= event.date %></td>
						<td class="right">
							<a class="dropdown-button" href="#" data-activates="dropdown<%= event.id%>">
						<i class="material-icons">more_vert</i>
						</a>

							<!-- Dropdown Structure -->
							<ul id="dropdown<%= event.id%>" class="dropdown-content">
								<li><%= link_to edit_admin_event_path(id: event.id), :class => "drop_edit" do %>Editer<% end %></li>
								<li><%= link_to admin_event_path(event.id), :method => :delete, :class => "drop_remove", id: 'remove-event',  :data => {:confirm => 'Tu est sur ?' } do %>Supprimer<% end %></li>
							</ul>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
