<div class="row card-panel">
	<div class="col s12">
      <%= link_to new_admin_event_path, class: "right btn-add btn-floating btn-large waves-effect waves-light blue", id: 'create-event' do %>
  			<i class="material-icons">add</i>
  		<% end %>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="name">Nom de l'événement</th>
					<th data-field="name">Date</th>
					<th class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
					<tr>
						<td><%= event.event %></td>
						<td><%= event.date %></td>
						<td class="right">
							<%= link_to edit_admin_event_path(id: event.id), { class: "waves-effect waves-light btn", id: 'edit-event'} do %>
								<i class="material-icons small">mode_edit</i>
				        	<% end %>

							<%= link_to admin_event_path(event.id), class: "waves-effect waves-light btn red", id: 'remove-event' , method: :delete,  data: { confirm: 'Tu est sur ?' } do %>
								<i class="material-icons small">delete</i>
				      <% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
