<div class="row">
	<div class="col s12">
		<%= link_to new_admin_event_path, class: "waves-effect waves-light btn right", id: 'create-event' do %>
			<i class="material-icons">add</i>
		<% end %>
	</div>
	<div class="col s12">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="name">Nom de l'événement</th>
					<th data-field="name">Date</th>
					<th class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
					<tr>
						<td><%= event.event %></td>
						<td><%= event.date %></td>
						<td class="right">
							<%= link_to edit_admin_article_path(id: event.id), { class: "waves-effect waves-light btn"} do %>
								<i class="material-icons small">mode_edit</i>
				        	<% end %>

							<%= link_to admin_event_path(event.id), class: "waves-effect waves-light btn red darken-3", id: 'remove-event' , method: :delete,  data: { confirm: 'Tu est sur ?' } do %>
								<i class="material-icons small">delete</i>
				      <% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
