<div class="row">
	<div class="col s12">
		<%= form_for(@event, url: admin_events_path, html: { method: :post }, id: 'new_event') do |f| %>

			<div class="field input-field">
				<%= f.label :event, "Evenement" %>
				<%= f.text_field :event, :class => "event" %>
			</div>

			<div class="field input-field">
				<%= f.label :date, "event_date" %>
				<%= f.text_field :date, :class => "datepicker" %>
			</div>

			<div class="btnlog actions">
				<%= button_tag(type: 'submit', class: "btn") do %>
					Enregistrer <i class='material-icons right'>send</i>
				<% end %>
			</div>
		<% end %>

		<%= link_to 'Retour', admin_players_path %>
	</div>
</div>