<div class="row">
	<div class="col s12">
		<%= form_for(@presence, url: admin_presences_path, html: { method: :post }, id: 'new_match') do |f| %>

			<% @presence.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>

			<div class="field input-field">
			    <%= f.select(:tournaments_id) do %>
			        <% @tournaments.each do |tournament| %>
			            <% [["#{tournament.date} - #{tournament.place}", tournament.id]].each do |c| -%>
			                <%= content_tag(:option, c.first, value: c.last) %>
			            <% end %>
			        <% end %>
			    <% end %>
			</div>
			<div class="field input-field">
        <% @players.each do |player| %>
          <div>
            <input type="checkbox" id="presence[player][<%= player.id %>]" name="presence[player][<%= player.id %>]" value="<%= player.firstname %> <%= player.lastname %>" />
            <label for="presence[player][<%= player.id %>]"><%= player.lastname %></label>
          </div>
        <% end %>
			</div>

			<div class="btnlog actions">
				<%= button_tag(type: 'submit', class: "btn") do %>
					Valider <i class='material-icons right'>send</i>
				<% end %>
			</div>
		<% end %>

		<%= link_to 'Retour', admin_presences_path %>
	</div>
</div>
