<div class="row">
	<div class="col s12">
		<%= form_for(@new, url: admin_articles_path, html: { method: :post }, id: 'new_news') do |f| %>

			<% @new.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>

			<div class="field input-field">
				<%= f.label :title, "Titre" %>
				<%= f.text_field :title, autofocus: true, :class => "validate" %>
			</div>

			<div class="field">
				<%= f.label :summary, "Résumé" %>
				<%= f.text_area :summary, :class => "materialize-textarea"  %>
			</div>

			<div class="field">
				<%= f.label :content, "Contenu" %>
				<%= f.text_area :content, :class => "materialize-textarea", :id => "newContent"  %>
			</div>

			<div class="btnlog actions">
				<%= button_tag(type: 'submit', class: "btn") do %>
					Publier <i class='material-icons right'>send</i>
				<% end %>
			</div>
		<% end %>

		<%= link_to 'Retour', admin_articles_path %>
	</div>
</div>
