<div class="row card-panel">
  <div class="col s12">
		<%= form_for(@new, url: admin_articles_path, html: { method: :post }, id: 'new_news') do |f| %>

			<% @new.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>

			<div class="field input-field col s12 m6">
				<%= f.label :title, "Titre" %>
				<%= f.text_field :title, autofocus: true, :class => "validate" %>
			</div>

			<div class="field input-field col s12 m6">
			    <%= f.select(:category) do %>
            <%= content_tag(:option, "Article", value: "article") %>
            <%= content_tag(:option, "Bipbip", value: "bipbip") %>
			    <% end %>
			</div>

			<div class="field field input-field col s12">
				<%= f.label :summary, "Résumé" %>
				<%= f.text_area :summary, :class => "materialize-textarea"  %>
			</div>

			<div class="field field field input-field col s12">
				<%= f.label :content, "Contenu" %>
				<%= f.text_area :content, :class => "tinymce materialize-textarea form-control", :id => "newContent"  %>
			</div>

			<div class="btnlog actions col s12">
				<%= link_to 'Retour', admin_articles_path, :class => "waves-effect waves-light btn red" %>
				<%= button_tag(type: 'submit', class: "right btn") do %>
					Publier <i class='material-icons right'>send</i>
				<% end %>
			</div>
		<% end %>

	 </div>
</div>
