<div class="row article">
    <div class="col s12 m12 l9">
        <% @news.each do |new| %>
            <div class="card">
                <div class="card-content">
                    <% if(new.title.present?)%>
                        <span class="card-title"><%= link_to new.title.capitalize, article_path(new.id), :class => "red-text text-darken-2" %></span>
                    <% else %>
                        <span class="card-title red-text text-darken-2">Pas de titre pour cet article</span>
                    <% end %>
                    <p><%= new.summary%></p>
                </div>
                <div class="card-action right-align">
                    <%= link_to 'Lire la suite', article_path(new.id)%>
                </div>
            </div>
        <% end %>
    </div>
    <%= render :template => 'layouts/right' %>
    <div class="col s12 m12 l9 center-align">
        <%= will_paginate @news %>
    </div>
 </div>
