<div class="row">
	<div class="col s12">
		<%= link_to new_admin_match_path, :class => "waves-effect waves-light btn right " do %>
			<i class="material-icons small">add</i>
		<% end %>
	</div>
	<div class="col s12">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="team_1">Tournois ID</th>
					<th data-field="team_1">Équipe 1</th>
                    <th data-field="team_2">Équipe 2</th>
                    <th data-field="score">Score</th>
					<th  class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @matches.each do |match| %>
					<tr>
						<td><%= match.tournaments_id%></td>
                        <td><%= match.teams_1%></td>
                        <td><%= match.teams_2%></td>
						<td><%= match.score %></td>
						<td class="right">
							<%= link_to admin_match_path(match.id), :class => "waves-effect waves-light btn red darken-3", :method => :delete,  :data => {:confirm => 'Tu est sur ???  ☜(ˆ▽ˆ)' } do %>
								<i class="material-icons small">delete</i>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
