<div class="row card-panel">
	<div class="col s12">
      <%= link_to new_admin_match_path, :class => "right btn-add btn-floating btn-large waves-effect waves-light blue" do %>
  			<i class="material-icons small">add</i>
  		<% end %>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="team_1" class='hide-on-small-only'>Tournois ID</th>
					<th data-field="team_1">Équipe 1</th>
          <th data-field="team_2">Équipe 2</th>
          <th data-field="score">Score</th>
					<th  class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @matches.each do |match| %>
					<tr>
						<td class='hide-on-small-only'><%= match.tournaments_id%></td>
            <td><%= match.teams_1%></td>
            <td><%= match.teams_2%></td>
						<td><%= match.score %></td>

						<td class="right">
							<a class="dropdown-button" href="#" data-activates="dropdown<%= match.id%>">
						<i class="material-icons">more_vert</i>
						</a>

							<!-- Dropdown Structure -->
							<ul id="dropdown<%= match.id%>" class="dropdown-content">
								<li><%= link_to admin_match_path(match.id), :method => :delete, :class => "drop_remove",  :data => {:confirm => 'Tu est sur ?' } do %>Supprimer<% end %></li>
							</ul>
						</td>

					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="center-align">
        <%= will_paginate @matches %>
    </div>
	</div>
</div>
