<div class="row">
	<div class="col s12">
		<%= form_for(@match, url: admin_matches_path, html: { method: :post }, id: 'new_match') do |f| %>

			<% @match.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>

			<div class="field input-field">
			    <%= f.select(:tournaments_id) do %>
			        <% @tournaments.each do |tournament| %>
			            <% [[tournament.date, tournament.id]].each do |c| -%>
			                <%= content_tag(:option, c.first, value: c.last) %>
			            <% end %>
			        <% end %>
			    <% end %>
			</div>

			<div class="field input-field">
			    <%= f.select(:teams_1) do %>
			        <% @teams.each do |team| %>
			            <% [[team.city, team.city]].each do |c| -%>
			                <%= content_tag(:option, c.first, value: c.last) %>
			            <% end %>
			        <% end %>
			    <% end %>
			</div>
			
			<div class="field input-field">
			    <%= f.select(:teams_2) do %>
			        <% @teams.each do |team| %>
			            <% [[team.city, team.city]].each do |c| -%>
			                <%= content_tag(:option, c.first, value: c.last) %>
			            <% end %>
			        <% end %>
			    <% end %>
			</div>

            <div class="field input-field">
				<%= f.label :score, "Score" %>
				<%= f.text_field :score, :class => "validate" %>
			</div>


			<div class="btnlog actions">
				<%= button_tag(type: 'submit', class: "btn") do %>
					Publier <i class='material-icons right'>send</i>
				<% end %>
			</div>
		<% end %>

		<%= link_to 'Retour', admin_matches_path %>
	</div>
</div>
