<div class="row card-panel">
	<div class="col s12">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="email">Email</th>
					<th data-field="connexion" class='hide-on-small-only'>Nombre de connexion</th>
          <th data-field="admin">Admin</th>
					<th  class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.email %></td>
						<td class='hide-on-small-only'><%= user.sign_in_count %></td>
						<% if(user.admin)%>
							<td><span class="mybadge green">Oui</span></td>
						<% else %>
							<td><span class="mybadge blue">Non</span></td>
						<% end %>
						<td class="right">
							<%= link_to admin_users_edit_path(id: user.id), { :class => "waves-effect waves-light btn"} do %>
								<i class="material-icons small">mode_edit</i>
							<% end %>
							<%= link_to admin_user_path(user.id), :class => "waves-effect waves-light btn red", :method => :delete,  :data => {:confirm => 'Tu est sur ?' } do %>
								<i class="material-icons small">delete</i>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="center-align">
        <%= will_paginate @users %>
    </div>
	</div>
</div>
