<div class="row card-panel">
	<div class="col s12">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="email">Email</th>
					<th data-field="connexion" class='hide-on-small-only'>Nombre de connexion</th>
          <th data-field="admin">Admin</th>
					<th  class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.email %></td>
						<td class='hide-on-small-only'><%= user.sign_in_count %></td>
						<% if(user.admin)%>
							<td><span class="mybadge green">Oui</span></td>
						<% else %>
							<td><span class="mybadge blue">Non</span></td>
						<% end %>

						<td class="right">
							<a class="dropdown-button" href="#" data-activates="dropdown<%= user.id%>">
						<i class="material-icons">more_vert</i>
						</a>
							<!-- Dropdown Structure -->
							<ul id="dropdown<%= user.id%>" class="dropdown-content">
								<li><%= link_to admin_users_edit_path(id: user.id), :class => "drop_edit" do %>Editer<% end %></li>
								<li><%= link_to admin_user_path(user.id), :method => :delete, :class => "drop_remove", :data => {:confirm => 'Tu est sur ?' } do %>Supprimer<% end %></li>
							</ul>
						</td>

					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="center-align">
        <%= will_paginate @users %>
    </div>
	</div>
</div>
