<div class="row card-panel">
	<div class="col s12">
    <%= link_to new_admin_team_path, :class => "right btn-add btn-floating btn-large waves-effect waves-light blue" do %>
			<i class="material-icons small">add</i>
		<% end %>
		<table class="striped">
			<thead>
				<tr>
                    <th data-field="admin">Ville</th>
					<th  class="right" data-field="price">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @teams.each do |team| %>
					<tr>
						<td><%= team.city %></td>
						<td class="right">
							<a class="dropdown-button" href="#" data-activates="dropdown<%= team.id%>">
								<i class="material-icons">more_vert</i>
							</a>
							<!-- Dropdown Structure -->
							<ul id="dropdown<%= team.id%>" class="dropdown-content">
								<li><%= link_to admin_team_path(team.id), :method => :delete, :class => "drop_remove", :data => {:confirm => 'Tu est sur ?' } do %>Supprimer<% end %></li>
							</ul>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="center-align">
        <%= will_paginate @teams %>
    </div>
	</div>
</div>
