<div class="row">
	<div class="col s12">
		<%= form_for(@team, url: admin_teams_path, html: { method: :post }, id: 'new_team') do |f| %>

			<% @team.errors.full_messages.each do |msg| %>
				<%= msg %>
			<% end %>

            <div class="field input-field">
				<%= f.label :city, "Ville" %>
				<%= f.text_field :city, autofocus: true, :class => "validate" %>
			</div>

			<div class="btnlog actions">
				<%= button_tag(type: 'submit', class: "btn") do %>
					Valider <i class='material-icons right'>send</i>
				<% end %>
			</div>
		<% end %>

		<%= link_to 'Retour', admin_teams_path %>
	</div>
</div>
