<div class="row club">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a href="#old">Adultes</a></li>
        <li class="tab col s4"><a href="#young">Jeunes</a></li>
        <li class="tab col s4"><a href="#training">Entrainement</a></li>
        <li class="tab col s4"><a href="#staff">Bureau</a></li>
      </ul>
    </div>
    <!-- <div id="all" class="col s12 hide-on-med-and-down">
        <div class="col s6">
            <span class='nameSection'>
                Section Adultes
            </span>
            <% @players.each do |player|%>
                <% if(player.adult == true) %>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <% if(player.picture == true) %>
                                <i class="circle picture"><%= image_tag(I18n.transliterate("players/#{player.lastname}_#{player.firstname}.png"), :alt => "picture player") %></i>
                                <% else %>
                                <i class="circle grey darken-2"><%= player.number %></i>
                            <% end %>
                            <span class="title"><%= "#{player.lastname} #{player.firstname}"%></span>
                            <p>Rôle : <%= player.place %><br>Numéro : <%= player.number %></p>
                        </li>
                    </ul>
                <% end %>
            <% end %>
        </div>
        <div class="col s6">
            <span class='nameSection'>
                Section Jeunes
            </span>
            <% @players.each do |player|%>
                <% if(player.adult == false) %>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <% if(player.picture == true) %>
                                <i class="circle picture"><%= image_tag(I18n.transliterate("players/#{player.lastname}_#{player.firstname}.png"), :alt => "picture player") %></i>
                                <% else %>
                                <i class="circle grey darken-2"><%= player.number %></i>
                            <% end %>
                            <span class="title"><%= "#{player.lastname} #{player.firstname}"%></span>
                            <p>Rôle : <%= player.place %><br>Numéro : <%= player.number %></p>
                        </li>
                    </ul>
                <% end %>
            <% end %>
        </div>

    </div> -->
    <div id="old" class="col s12">
        <% @players.each do |player|%>
            <% if(player.adult == true) %>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <% if(player.picture == true) %>
                            <i class="circle picture"><%= image_tag(I18n.transliterate("players/#{player.lastname}_#{player.firstname}.png"), :alt => "picture player") %></i>
                            <% else %>
                            <i class="circle grey darken-2"><%= player.number %></i>
                        <% end %>
                        <span class="title"><%= "#{player.lastname} #{player.firstname}"%></span>
                        <p>Rôle : <%= player.place %><br>Numéro : <%= player.number %></p>
                    </li>
                </ul>
            <% end %>
        <% end %>
    </div>
    <div id="young" class="col s12">
        <% @players.each do |player|%>
            <% if(player.adult == false) %>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <% if(player.picture == true) %>
                            <i class="circle picture"><%= image_tag(I18n.transliterate("players/#{player.lastname}_#{player.firstname}.png"), :alt => "picture player") %></i>
                            <% else %>
                            <i class="circle grey darken-2"><%= player.number %></i>
                        <% end %>
                        <span class="title"><%= "#{player.lastname} #{player.firstname}"%></span>
                        <p>Rôle : <%= player.place %><br>Numéro : <%= player.number %></p>
                    </li>
                </ul>
            <% end %>
        <% end %>
    </div>
    <div id="training" class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Le club du Val de Gray est affilié à la Fédération Française de Roller Skating (FFRS) et se compose de deux sections :</span>
            <p><ul><li>Section Jeunes : Initiation au Roller et découverte du Roller Hockey</li>
            <li>Section Adultes : Pratique du Roller Hockey et compétitions loisirs</li></ul></p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <span class="card-title">Entrainements</span>
            <p><ul><li>Section Jeunes : Vendredi de 20h45 à 21h15 dans le Gymnase Colbert à GRAY</li>
            <li>Section Adultes : Vendredi à partir de 21h15 dans le Gymnase Colbert à GRAY</li></ul>
            Une séance supplémentaire sera disponible courant novembre pour les adultes et les jeunes dans le Gymnase du collège Delaunay de GRAY (Informations à suivre)</p>
            <p>
                Les joueurs (Adultes et Enfants) devront être prêt et en tenue pour le début de la séance.
                Les horaires des entrainements peuvent être modifiés durant la saison seront alors communiqués aux joueurs au plus tôt. Pendant les vacances scolaires, le club vous avisera du maintient ou non des entrainements.
            </p>
            <br><p>Remarque : La section est ouverte à une quinzaine d’enfants (à partir de 12 ans environ) désirant pratiquer le Roller et le Roller Hockey. Ce créneau est une initiation au patinage et à la pratique du Roller Hockey. Des groupes de niveaux pourront être créé et une évolution, dans le groupe adulte, sera envisageable en cours d’année.</p>
            <br><p>
                L’encadrement sera assuré par une personne diplômée (Brevet d’Initiateur Fédéral) et des volontaires de la section Adultes.
            </p>
          </div>
        </div>
        <div class="row">
            <div class="col m6 s12">
                <div class="card">
                    <div class="card-content">
                      <span class="card-title">Gymnase Colbert</span>
                      <p>2 Rue des Carrières, 70100 GRAY </p>
                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="card">
                    <div class="card-content">
                      <span class="card-title">Gymnase Collège Delaunay </span>
                      <p>15 Rue Joseph Thévenin , 70100 GRAY </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="staff" class="col s12">
        <% @players.each do |player|%>
            <% if(player.staff != nil && player.staff != "") %>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <% if(player.picture == true) %>
                            <i class="circle picture"><%= image_tag(I18n.transliterate("players/#{player.lastname}_#{player.firstname}.png"), :alt => "picture player") %></i>
                            <% else %>
                            <i class="circle grey darken-2"><%= player.number %></i>
                        <% end %>
                        <span class="title"><%= "#{player.lastname} #{player.firstname}"%></span>
                        <p>Rôle : <%= player.staff %></p>
                    </li>
                </ul>
            <% end %>
        <% end %>
    </div>
  </div>
