<div class="row club">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a href="#test1">Adultes</a></li>
        <li class="tab col s4"><a href="#test2">Jeunes</a></li>
        <li class="tab col s4"><a href="#test3">Entrainement</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">


        <% @players.each do |player|%>
            <% if(player.adult == true) %>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="circle black"><%= image_tag( "players/#{player.lastname}.png", :alt => "picture player") %></i>
                        <span class="title"><%= player.lastname %></span>
                        <p><%= player.firstname %> <br><%= player.place %></p>
                    </li>
                </ul>
            <% end %>
        <% end %>



    </div>
    <div id="test2" class="col s12">

        <% @players.each do |player|%>
            <% if(player.adult == false) %>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="circle black"><%= image_tag( "players/#{player.lastname}.png", :alt => "picture player") %></i>
                        <span class="title"><%= player.lastname %></span>
                        <p><%= player.firstname %> <br><%= player.place %></p>
                    </li>
                </ul>
            <% end %>
        <% end %>


    </div>
    <div id="test3" class="col s12">Test 3</div>
  </div>
