<title>Coyotes</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#c62828">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#c62828">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= asset_url 'favicon/apple-touch-icon-57x57.png' %>" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_url 'favicon/apple-touch-icon-114x114.png' %>" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_url 'favicon/apple-touch-icon-72x72.png' %>" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_url 'favicon/apple-touch-icon-144x144.png' %>" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= asset_url 'favicon/apple-touch-icon-60x60.png' %>" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= asset_url 'favicon/apple-touch-icon-120x120.png' %>" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= asset_url 'favicon/apple-touch-icon-76x76.png' %>" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_url 'favicon/apple-touch-icon-152x152.png' %>" />
<link rel="icon" type="image/png" href="<%= asset_url 'favicon/favicon-196x196.png" sizes="196x196' %>" />
<link rel="icon" type="image/png" href="<%= asset_url 'favicon/favicon-96x96.png" sizes="96x96' %>" />
<link rel="icon" type="image/png" href="<%= asset_url 'favicon/favicon-32x32.png" sizes="32x32' %>" />
<link rel="icon" type="image/png" href="<%= asset_url 'favicon/favicon-16x16.png" sizes="16x16' %>" />
<link rel="icon" type="image/png" href="<%= asset_url 'favicon/favicon-128.png" sizes="128x128' %>" />
<meta name="application-name" content="Coyotes-Gray"/>
<meta name="msapplication-TileColor" content="#" />
<meta name="msapplication-TileImage" content="<%= asset_url 'favicon/mstile-144x144.png' %>" />
<meta name="msapplication-square70x70logo" content="<%= asset_url 'favicon/mstile-70x70.png' %>" />
<meta name="msapplication-square150x150logo" content="<%= asset_url 'favicon/mstile-150x150.png' %>" />
<meta name="msapplication-wide310x150logo" content="<%= asset_url 'favicon/mstile-310x150.png' %>" />
<meta name="msapplication-square310x310logo" content="<%= asset_url 'favicon/mstile-310x310.png' %>" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">